html{
    background-color: #faedce;
    font-family: "Playfair Display", serif;
}


.inside{
    height: 300px;
    border-radius: 5px;
    box-shadow: 7px 10px #44300131;
    display: flex;
    margin-right: 40px;
}

.list{
    height: 300px;
    border-radius: 5px;
    box-shadow: 7px 10px #44300131;
}

.tartalom{
    border: 2px solid;
    border-color: #d96f3277;
    border-radius: 20px;
    padding: 0px 10px;
    box-shadow: 5px 10px #df713259;
    margin-top: 20px;
    font-size: large;
    display: flex;
    margin-right: 20px;
    flex: 1;
}

.teljes{
    display: flex;
}

 @media (max-width: 600px){
    .teljes{
        flex-direction: column;
    }


    .inside{
    height: 300px;
    border-radius: 5px;
    box-shadow: 7px 10px #44300131;
    display: flex;
    margin: 0 auto;
    }



 }